

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-brand img{
    margin-top: -10px;
}


/*
 * DASHBOARD
 */

.dashboard-donation-grandtotal p{
  font-size: 2vh;
  font-weight: bold;
}

.dashboard-donation-grandtotal h1{
  font-size: 10vh;
  margin-top: -10px;
}

.dashboard-donation-grandtotal{
  margin-bottom: 60px;
}

.dashboard-donation-total p{
  font-size: 2vh;
  font-weight: bold;
}

.dashboard-donation-total h1{
  font-size: 5vh;
  margin-top: -10px;
}

.dashboard-donation-total{
  margin-bottom: 30px;
}


/*
 * SUBMIT DONATION 
 */

.enter-donation h1{
  font-size: 3vh;
}





